*, html, body {
    /* border: 1px solid black; */
    margin: 0;
    padding: 0;
    font-family: "Open", sans-serif;
    
}


body{
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    background-color: whitesmoke;
}
.container{
    /* justify-content: center;
    align-items: center; */
    display: flex;
    width: 100%;
    background-color: lightblue;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 15px;
    width: 100%;
    height: 80px;
    background-color:lightblue; 
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0);
}

.brand{
    display: flex;
    flex-direction: row;
    font-size: 1cm;
    padding: 15px;
    text-transform: capitalize;
}

.firstname{
    color: yellow;
    font-weight: 700;
}

.lastname{
    color: blue ;
    font-weight: 600;
    padding-left: 4px;
}

.navigation{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.navigation>li {
    list-style-type: none;
    padding: 15px;
}

.navigation>li>a{
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.navigation>li>a:hover{
    color: rgb(59, 42, 214);
    transition: all .3s ease-in-out;
}
.aktif{
    background-color: rgb(59, 42, 214);
    color: white;
    padding: 15px;
}

.aktif:hover{
    color: white !important;
}

.container1{
    max-width: max-content;
    text-align: center;
    margin-top: 5%;
    margin-left: 100px;
}
.lokasi{
    margin: 50px 150px 100px 150px;
    padding-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.lokasi h1{
    font-size: 50px;
    width: 100%;
    margin: auto;
    text-align: center;
}